// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.g-map {
  height: 600px;

  &.sidebar {
    height: 400px;
  }
}

@media screen and (min-width: 40em) {
  .top-bar .top-bar-title a img {
    height: 70px !important;
    width: 70px !important;
    margin-top: 7px;
  }
}
