
<% if @menu.errors.any? %>

  <div id="error_explanation" data-alert class="callout alert" data-closable>
    <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <strong>
      <%= @menu.errors.count %>
      <%= t("admin.menus.errors.form.error", count: @menu.errors.count) %>
    </strong>
  </div>

<% end %>
