<div class="small-12 medium-9 column">
  <ul>
    <% if feature?(:conversations) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.conversations"),
                                conversations_path,
                                controller_name == 'conversations',
                                accesskey: "1",
                                title: t("shared.go_to_page") + t("layouts.header.conversations") %>
      </li>
    <% end %>
    <li>
      <%= layout_menu_link_to t("layouts.header.proposals"),
                                proposals_path,
                                controller_name == 'proposals',
                                accesskey: "2",
                                title: t("shared.go_to_page") + t("layouts.header.proposals") %>
    </li>
    <% Menu.order(:sort_index).each.with_index(3) do |menu, index| %>
      <li>
        <%= link_to menu.title, menu.url, accesskey: index %>
      </li>
    <% end %>
  </ul>
</div>
